# Using Pandas

Pandas is powerful and easy-to-use library for data analysis. Is has two main object to represents data: 

- Series
- DataFrame

# Import libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
%matplotlib inline

# Working with Series

Series is an array like object.

In [ ]:
x = pd.Series([1,2,3,4,5])
x

Notice that generated index for your item

## Basic Operation

In [ ]:
x + 100

In [ ]:
(x ** 2) + 100

In [ ]:
x > 2

## `any()` and `all()`

In [ ]:
larger_than_2 = x > 2
larger_than_2

In [ ]:
larger_than_2.any()

In [ ]:
larger_than_2.all()

## `apply()`

In [ ]:
def f(x):
    if x % 2 == 0:
        return x * 2
    else:
        return x * 3

x.apply(f)

**Avoid looping over your data**

This is a `%%timeit` results from `apply()` and a for loop.

In [ ]:
%%timeit
ds = pd.Series(range(10000))

for counter in range(len(ds)):
    ds[counter] = f(ds[counter])

In [ ]:
%%timeit

ds = pd.Series(range(10000))

ds = ds.apply(f)

## `copy()`

In [ ]:
y = x

In [ ]:
y[0]

In [ ]:
y[0] = 100

In [ ]:
y

In [ ]:
x

# DataFrame

In [ ]:
data = [1,2,3,4,5,6,7,8,9]
df = pd.DataFrame(data, columns=["x"])

In [ ]:
df

## Selecting Data

In [ ]:
df["x"]

In [ ]:
df["x"][0]

## Adding extra columns

In [ ]:
df["x_plus_2"] = df["x"] + 2
df

In [ ]:
df["x_square"] = df["x"] ** 2
df["x_factorial"] = df["x"].apply(np.math.factorial)
df

In [ ]:
df["is_even"] = df["x"] % 2
df

### `map()`

In [ ]:
df["odd_even"] = df["is_even"].map({1:"odd", 0:"even"})
df

### `drop()`

In [ ]:
df = df.drop("is_even", 1)
df

## Multi Column Select

In [ ]:
df[["x", "odd_even"]]

## Controlling display options

In [ ]:
pd.options.display.max_columns= 60
pd.options.display.max_rows= 6
pd.options.display.notebook_repr_html = False
df

## Filtering

In [ ]:
df[df["odd_even"] == "odd"]

In [ ]:
df[df.odd_even == "even"]

### Chaining Filters

#### `|` OR

In [ ]:
df[(df.odd_even == "even") | (df.x_square < 20)]

#### `&` AND

In [ ]:
df[(df.odd_even == "even") & (df.x_square < 20)]

# `scatter_matrix()`

In [ ]:
pd.scatter_matrix(df,diagonal="kde",figsize=(10,10));

In [ ]:
df.describe()

# Reading Data from CSV/TSV Files

In [3]:
#url = "http://www.google.com/finance/historical?q=TADAWUL:TASI&output=csv"
#stocks_data = pd.read_csv(url)

stocks_data = pd.read_csv('./Datasets/stocks.csv')

In [4]:
stocks_data

         ï»¿Date     Open     High      Low    Close     Volume
0    21-Jul-16  6630.61  6648.10  6597.88  6601.00  183874848
1    20-Jul-16  6646.86  6655.54  6622.36  6630.61  166216847
2    19-Jul-16  6681.97  6686.63  6635.99  6646.86  180509004
3    18-Jul-16  6680.79  6702.99  6658.04  6681.97  206421139
4    17-Jul-16  6661.65  6698.13  6661.65  6680.79  173648935
5    14-Jul-16  6691.23  6698.88  6653.64  6661.65  259311234
6    13-Jul-16  6625.78  6694.05  6624.03  6691.23  308953769
7    12-Jul-16  6570.34  6627.04  6570.34  6625.78  252310156
8    11-Jul-16  6555.87  6584.70  6546.41  6570.34  241224883
9    10-Jul-16  6499.88  6556.31  6494.47  6555.87  242408432
10   30-Jun-16  6500.42  6528.69  6499.77  6499.88  233316132
11   29-Jun-16  6480.32  6525.36  6480.33  6500.42  234230669
12   28-Jun-16  6464.84  6495.60  6457.00  6480.32  285790684
13   27-Jun-16  6478.60  6550.20  6461.32  6464.84  236554105
14   26-Jun-16  6550.97  6547.74  6256.68  6478.60  332657358
15   23-Jun-16  6532.42  6554.19  6521.30  6550.97  199178774
16   22-Jun-16  6553.01  6585.61  6531.79  6532.42  158116439
17   21-Jun-16  6558.92  6584.97  6549.70  6553.01  146333736
18   20-Jun-16  6542.40  6572.74  6537.80  6558.92  150238728
19   19-Jun-16  6542.64  6591.69  6539.41  6542.40  171249760
20   16-Jun-16  6566.68  6572.71  6534.18  6542.64  179619196
21   15-Jun-16  6626.58  6647.17  6564.65  6566.68  265530174
22   14-Jun-16  6589.64  6626.58  6580.92  6626.58  234366648
23   13-Jun-16  6570.89  6596.07  6550.95  6589.64  212087930
24   12-Jun-16  6606.92  6606.11  6553.24  6570.89  211522189
25    9-Jun-16  6604.96  6644.76  6587.58  6606.92  337758577
26    8-Jun-16  6533.42  6630.88  6530.89  6604.96  334852105
27    7-Jun-16  6477.07  6537.25  6476.69  6533.42  243903907
28    6-Jun-16  6413.02  6479.47  6396.47  6477.07  145772475
29    5-Jun-16  6488.79  6504.36  6409.51  6413.02  214183463
..         ...      ...      ...      ...      ...        ...
220   3-Sep-15  7367.55  7459.52  7367.55  7383.86  173992565
221   2-Sep-15  7438.43  7438.43  7227.83  7367.55  205141939
222   1-Sep-15  7522.47  7601.84  7435.31  7438.43  217422990
223  31-Aug-15  7690.40  7690.40  7492.66  7522.47  181825003
224  30-Aug-15  7604.32  7953.43  7604.32  7690.40  265316702
225  27-Aug-15  7384.46  7762.96  7384.46  7604.32  336177465
226  26-Aug-15  7543.05  7573.95  7361.45  7384.46  347736367
227  25-Aug-15  7024.60  7562.81  7014.08  7543.05  558704184
228  24-Aug-15  7463.32  7476.74  6920.96  7024.60  355775528
229  23-Aug-15  8012.83  8012.83  7439.52  7463.32  274195864
230  20-Aug-15  7991.28  8015.22  7712.63  8012.83  275755916
231  19-Aug-15  8197.02  8258.49  7975.94  7991.28  199652233
232  18-Aug-15  8437.26  8443.73  8046.37  8197.02  195273608
233  17-Aug-15  8464.06  8496.89  8380.57  8437.26  151801836
234  16-Aug-15  8683.74  8712.74  8418.91  8464.06  148232729
235  13-Aug-15  8708.31  8757.31  8678.16  8683.74   91431753
236  12-Aug-15  8758.07  8758.07  8606.60  8708.31  112905537
237  11-Aug-15  8834.82  8865.60  8749.25  8758.07  121204097
238  10-Aug-15  8699.17  8839.21  8699.17  8834.82  136968178
239   9-Aug-15  8654.64  8707.77  8561.46  8699.17  102818444
240   6-Aug-15  8790.77  8790.77  8617.45  8654.64  124864940
241   5-Aug-15  8769.47  8824.95  8769.47  8790.77   98757758
242   4-Aug-15  8820.65  8820.65  8701.57  8769.47  144472966
243   3-Aug-15  8807.24  8820.65  8744.22  8820.65  176941903
244   2-Aug-15  9098.27  9101.08  8768.35  8807.24  169454680
245  30-Jul-15  9107.39  9133.60  9081.65  9098.27  135826066
246  29-Jul-15  9090.84  9141.89  9090.84  9107.39  112868058
247  28-Jul-15  9080.02  9106.97  9056.99  9090.84  103553161
248  27-Jul-15  9301.66  9301.66  9079.28  9080.02  142142299
249  26-Jul-15  9372.74  9411.93  9276.77  9301.66  132188773

[250 rows x 6 columns]

In [ ]:
stocks_data["change_amount"] = stocks_data["Close"] - stocks_data["Open"]
stocks_data["change_percentage"] = stocks_data["change_amount"] / stocks_data["Close"]
stocks_data